enable-jmx-monitoring={{ enable_jmx_monitoring }}
rcon.port={{ rcon_port }}
gamemode={{ gamemode }}
enable-command-block={{ enable_command_block }}
enable-query={{ enable_query }}
level-name={{ level_name }}
level-seed= {{ level_seed }}
motd={{ motd }}
query.port={{ minecraft_query_port }}
pvp={{ pvp }}
difficulty={{ difficulty }}
network-compression-threshold={{ network_compression_threshold }}
require-resource-pack={{ require_resource_pack }}
max-tick-time={{ max_tick_time }}
use-native-transport={{ use_native_transport }}
max-players={{ max_players }}
online-mode={{ online_mode }}
enable-status={{ enable_status }}
allow-flight={{ allow_flight }}
broadcast-rcon-to-ops={{ broadcast_rcon_to_ops }}
view-distance={{ view_distance }}
server-ip={{ server_ip }}
resource-pack-prompt={{ resource_pack_prompt }}
allow-nether={{ allow_nether }}
server-port={{ minecraft_server_port }}
enable-rcon={{ enable_rcon }}
sync-chunk-writes={{ sync_chunk_writes }}
op-permission-level={{ op_permission_level }}
prevent-proxy-connections={{ prevent_proxy_connections }}
hide-online-players={{ hide_online_players }}
resource-pack={{ resource_pack }}
entity-broadcast-range-percentage={{ entity_broadcast_range_percentage }}
simulation-distance={{ simulation_distance }}
rcon.password={{ rcon_password }}
player-idle-timeout={{ player_idle_timeout }}
force-gamemode={{ force_gamemode }}
rate-limit={{ rate_limit }}
hardcore={{ hardcore }}
white-list={{ white_list }}
broadcast-console-to-ops={{ broadcast_console_to_ops }}
spawn-npcs={{ spawn_npcs }}
spawn-animals={{ spawn_animals }}
function-permission-level={{ function_permission_level }}
text-filtering-config={{ text_filtering_config }}
spawn-monsters={{ spawn_monsters }}
enforce-whitelist={{ enforce_whitelist }}
resource-pack-sha1={{ resource_pack_sha1 }}
spawn-protection={{ spawn_protection }}
max-world-size={{ max_world_size }}